/* http://www.colourlovers.com/palette/845780/No_idea */

body {
  /* http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
  width: 950px;
  height: 100%;
  background-color: #fff; 
  background-image: url('../images/background.png');
  background-repeat: repeat-x;
  color: #333; 
  margin: 0 auto;
  margin-top: 10px;
}

.site {
  background-color: white;
}

.title {
  position: relative;
  padding: 18px 0 0 0;
  background-color: #fff;
  border: 1px solid #aaa; 
}

.site_title {
  margin: 0px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 25px;
}

.title a {
  position: absolute;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
  color: #FF2C2B;
  top: 28px;
  right: 0;
}

#home, #post {
  padding-top: 22px;
  padding-left: 20px;
  border: 1px solid #aaa;
  background-color: #fff;
}

#home h1 {
  font-size: 140%;
  font-style: italic;
}

#post h1 {
  font-size: 180%;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 22px;
  color: #FF2C2B;
}

#post h2, #post h3, #home h1 {
  color: #111;
  font-weight: bold;
}

#home ul li {
  list-style: none;
}

.posts a {
  text-decoration: none;
  font-weight: bold;
  color: #FFA500;
  font-size: 20px;
}

a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited, 
a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], 
a[href$=".rdf"], a[href^="aim:"] {
  padding:2px 16px 2px 0;
}

blockquote {
  font-size: 90%;
  font-family: "DejaVu Sans", sans-serif;
  font-style: normal;
  width: 255px;
  margin-top: 6px;
  margin-left: 565px;
  padding: 18px 22px 0 22px;
  position: absolute;
  background: #ddd;
  -moz-border-radius: 4px;  
  color: #200;
}

blockquote img {
  margin: 0 auto 12px auto;
  display: block;
}

blockquote p.author {
  margin-top: -1em;
  padding-right: 44px;
  color: #200;
  font-style: italic;
  text-align: right;
}

h2 {
  font-size: 140%;
  padding-bottom: 2px;
  border-bottom: 2px dotted #489690;
}

h2, h3 {
  color: #489690;
}

code {
  margin: 0 2px;
  padding: 0.06em 0.125em;
  border: 1px solid #403B33;
}

pre code {
  border: none;
}

pre {
  border-left: 9px solid #FD9945;
  margin-left: -49px;
  padding: 0 0 0 49px;
}

/* tabele */

caption {
  text-align: right;
}

li ul {
  margin-bottom: 1.5em;
}
